<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>10_1</display-name>
	<context-param>
		<param-name>name</param-name>
		<param-value>paramValue</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	<servlet>
		<description></description>
		<display-name>RegServlet01</display-name>
		<servlet-name>RegServlet01</servlet-name>
		<servlet-class>servlet.RegServlet01</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RegServlet01</display-name>
		<servlet-name>RegServlet02</servlet-name>
		<servlet-class>servlet.RegServlet02</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletTest01</servlet-name>
		<servlet-class>servlet.ServletTest01</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CalculateServlet</servlet-name>
		<servlet-class>servlet.CalculateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletTest02</servlet-name>
		<servlet-class>servlet.ServletTest02</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegServlet01</servlet-name>
		<url-pattern>/RegServlet01</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletTest01</servlet-name>
		<url-pattern>/ServletTest01</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegServlet02</servlet-name>
		<url-pattern>/RegServlet02</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CalculateServlet</servlet-name>
		<url-pattern>/CalculateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlacardServlet</servlet-name>
		<servlet-class>xml.PlacardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlacardServlet</servlet-name>
		<url-pattern>/PlacardServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>asyncServlet</servlet-name>
		<servlet-class>servlet.AsyncServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>asyncServlet</servlet-name>
		<url-pattern>/AsyncServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CounterFilter</filter-name>
		<filter-class>filter.CounterFilter</filter-class>
		<init-param>
			<param-name>count</param-name>
			<param-value>5000</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CounterFilter</filter-name>
		<url-pattern>/Filter/CounterFilter.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CharFilter</filter-name>
		<filter-class>filter.CharFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ServletFilter</filter-name>
		<filter-class>filter.ServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>